{% extends 'base.html.twig' %}

{% block title %}
    Liste des tâches
{% endblock %}
{% block body %}
    <div class="col-md-4 offset-md-2 left-column mb-1">
        <ul class="list_group">
    {% for listing in listings %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href = "{{path ('listing_show', {'listingId' : listing.id }) }}">{{listing.name}}</a>
        </li>       
    {% endfor %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <form method="post" action="{{path ('listing_create')}} ">
            <div class="input-group">
               <input type ="text" placeholder="Ajouter une liste"
               class="form-control input-block-level" name="name"/>
                <div class="input-group-append"></div>
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fas fa-plus-square"></i>
                    </button>
                    </div>
                </div>
        </form>
    </li>
        </ul>
    <div class="col-md-5 list mb-1">    
        {% if currentlisting %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="#">{{currentlisting.name}}</a>
                <div>
                    <a href = "{{path ('task_create', {'listingId' : currentlisting.id }) }}">
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fas fa-plus-square"></i>
                    </button>
                </a>
                <a href = "{{path ('listing_delete', {'listingId' : currentlisting.id }) }}">
                    <button class="btn btn-outline-danger" type="delete">
                        <i class="fas fa-recycle"></i>
                    </button>
                    </a>
                </div>
                </a>
                </nav>
           
                <div class="row px-4 mt-3"> 
               <table class="table table-striped">
                {% for task in currentlisting.tasks %}
                {% if currentlisting.tasks | length %}
                    <tr>
                    <td>
                        <a href class="navbar justify-content-between"> {{task.name}}
                      </td>
                      <td>     
                        <a href = "{{path ('task_edit', {'listingId' : currentlisting.id , 'taskId' : task.id }) }}">
                            <i class="fas fa-pencil-alt"></i>
                    </a>  
                    <a href = "{{path ('task_delete', {'listingId' : currentlisting.id, 'taskId': task.id }) }}">
                    <button class="btn btn-outline-danger" type="delete">
                        <i class="fas fa-recycle"></i>
                    </button>
                    </a>                
                   </td>
                </tr>
                </div>  
            {% else %}  
        <h5 class="navbar-brand" >Pas de tâche existante</h5>
        <p> Vous pouvez créer une nouvelle tâche en cliquant sur le bouton
            <i class="fas fa-plus-square"></i>
        </p>
        {% endif %}
        {% endfor %}
                </table>
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Pas de liste existante</a>
          </nav>
          <p>Vous pouvez créer une nouvelle liste en tapant son nom puis Entrée, ou en cliquant sur le bouton <i class="fas fa-plus-square"></i></p>  
          {% endif %}
        </div>
{% endblock %}
